header {
    min-height:100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../assets/citylights copy.jpg');
    background-size:cover;
    background-position:center;
    position:relative;

    .title {
        text-align:center;
        padding: 3rem;
        position:absolute;
        bottom:30rem;
        right:15%;
        left:15%;
        width:70%;
        background: rgba(0,0,0,0.5);
    };
};

// Media Queries
@media(max-width: 515px) {
    .title {
        padding:0;
        // border:1px solid red;

        h1 {
            font-size:4.5rem;
        }
    }
}